<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event SHMU | Medical University Khulna-9100</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/icomoon.css">
    <link rel="stylesheet" href="assets/css/vendor/remixicon.css">
    <link rel="stylesheet" href="assets/css/vendor/magnifypopup.min.css">
    <link rel="stylesheet" href="assets/css/vendor/odometer.min.css">
    <link rel="stylesheet" href="assets/css/vendor/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/vendor/animation.min.css">
    <link rel="stylesheet" href="assets/css/vendor/jqueru-ui-min.css">
    <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/vendor/tipped.min.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body class="sticky-header ">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->

    <div id="SHMU-preloader">
        <div class="loading-spinner">
            <div class="preloader-spin-1"></div>
            <div class="preloader-spin-2"></div>
        </div>
        <div class="preloader-close-btn-wraper">
            <span class="btn btn-primary preloader-close-btn">
                Cancel Preloader</span>
        </div>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <header class="edu-header header-style-2">
            <!--<div class="header-top-bar">
                <div class="container">
                    <div class="header-top">
                        <div class="header-top-left">
                            <ul class="header-info">
                                <li><a href="tel:+011235641231"><i class="icon-phone"></i>Call: 123 4561 5523</a></li>
                                <li><a href="mailto:info@shmu.com" target="_blank"><i class="icon-envelope"></i>Email: info@shmu.com</a></li>
                            </ul>
                        </div>
                        <div class="header-top-right">
                            <ul class="header-info">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Register</a></li>
                                <li class="header-btn"><a href="#" class="edu-btn btn-secondary btn-medium">Apply Now <i class="icon-4"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>-->
            <div id="edu-sticky-placeholder"></div>
            <div class="header-mainmenu">
                <div class="container">
                    <div class="header-navbar">
                        <div class="header-brand">
                            <div class="logo">
                                <a href="index.html">
                                    <img class="logo-light" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                                    <img class="logo-dark" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">

                                </a>
                            </div>
                        </div>
                        <div class="header-mainnav">
                            <nav class="mainmenu-nav">
                                <ul class="mainmenu">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="has-droupdown"><a href="#">About us</a>
                                        <ul class="submenu">
                                            <li><a href="history.html">History</a></li>
                                            <li><a href="vision-mission.html">Vision & Mission</a></li>
                                            <li><a href="shmu-act.html">SHMU Act – 2021</a></li>
                                            <li><a href="#">Organogram</a></li>
                                            <li><a href="#">At a Glance</a></li>
                                            <li><a href="#">Monogram</a></li>
                                            <li><a href="#">Campus Map</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-droupdown"><a href="#">Administration</a>
                                        <ul class="submenu">
                                            <li><a href="chancellor.html">Chancellor</a></li>
                                            <li><a href="vice-chancellor.html">Vice Chancellor</a></li>
                                            <li><a href="registrar.html">Registrar</a></li>
                                            <li><a href="project-director.html">Project Director</a></li>
                                            <li class="has-droupdown"><a href="#">Bodies</a>
                                                <ul class="submenu">
                                                    <li><a href="#">Syndicate</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-droupdown"><a href="#">Offices</a>
                                                <ul class="submenu">
                                                    <li><a href="office-of-the-vice-chancellor.html">Office of The Vice Chancellor</a></li>
                                                    <li><a href="office-of-the-registrar.html">Office of The Registrar</a></li>
                                                    <li><a href="office-of-the-deans.html">Dean’s Office</a></li>
                                                    <li><a href="office-of-the-controller-of-examination.html">Office of The Controller of Exam</a></li>
                                                    <li><a href="office-of-college-inspector.html">Office of The College Inspector</a></li>
                                                    <li><a href="planning-and-development.html">Planning and Development</a></li>
                                                    <li><a href="finance-and-accounts.html">Finance and Accounts</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="has-droupdown"><a href="#">Academic</a>
                                        <ul class="submenu">
                                            <li class="has-droupdown"><a href="#">Faculty</a>
                                                <ul class="submenu">
                                                    <li><a href="faculty-of-medicine.html">Faculty of Medicine</a></li>
                                                    <li><a href="faculty-of-basic-science-and-para-clinical-science.html">Faculty of Basic Science and para clinical Science</a></li>
                                                    <li><a href="#">Faculty of Nursing</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-droupdown"><a href="#">Courses</a>
                                                <ul class="submenu">
                                                    <li><a href="#">MBBS</a></li>
                                                    <li><a href="#">BDS</a></li>
                                                    <li><a href="#">Nursing</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Admission</a></li>
                                            <li><a href="#">Academic Calendar</a></li>
                                        </ul>
                                    </li>

                                    <li class="has-droupdown"><a href="#">Affiliated Institutions</a>
                                        <ul class="submenu">
                                            <li><a href="affiliated-institutions-government.html">Medical Colleges</a></li>
                                            <li><a href="affiliated-institutions-non-government.html">Nursing Colleges</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="notice.html">Notice</a></li>
                                    <li><a href="tender.html">Tender</a></li>
                                    <li><a href="form.html">Forms</a></li>
                                    <li><a href="#">Gallery</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right">
                            <ul class="header-action">
                                <li class="icon search-icon">
                                    <a href="javascript:void(0)" class="search-trigger">
                                        <i class="icon-2"></i>
                                    </a>
                                </li>
                                <li class="mobile-menu-bar d-block d-xl-none">
                                    <button class="hamberger-button">
                                        <i class="icon-54"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-mobile-menu">
                <div class="inner">
                    <div class="header-top">
                        <div class="logo">
                            <a href="index.html">
                                <img class="logo-light" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                                <img class="logo-dark" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                            </a>
                        </div>
                        <div class="close-menu">
                            <button class="close-button">
                                <i class="icon-73"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="mainmenu">
                        <li><a href="index.html">Home</a></li>
                        <li class="has-droupdown"><a href="#">About us</a>
                            <ul class="submenu">
                                <li><a href="history.html">History</a></li>
                                <li><a href="vision-mission.html">Vision & Mission</a></li>
                                <li><a href="shmu-act–2021.html">SHMU Act – 2021</a></li>
                                <li><a href="#">Organogram</a></li>
                                <li><a href="#">At a Glance</a></li>
                                <li><a href="#">Monogram</a></li>
                                <li><a href="#">Campus Map</a></li>
                            </ul>
                        </li>

                        <li class="has-droupdown"><a href="#">Administration</a>
                            <ul class="submenu">
                                <li><a href="chancellor.html">Chancellor</a></li>
                                <li><a href="vice-chancellor.html">Vice Chancellor</a></li>
                                <li><a href="registrar.html">Registrar</a></li>
                                <li><a href="project-director.html">Project Director</a></li>
                                <li class="has-droupdown"><a href="#">Bodies</a>
                                    <ul class="submenu">
                                        <li><a href="#">Syndicate</a></li>
                                    </ul>
                                </li>
                                <li class="has-droupdown"><a href="#">Offices</a>
                                    <ul class="submenu">
                                        <li><a href="office-of-the-vice-chancellor.html">Office of The Vice Chancellor</a></li>
                                        <li><a href="office-of-the-registrar.html">Office of The Registrar</a></li>
                                        <li><a href="office-of-the-deans.html">Dean’s Office</a></li>
                                        <li><a href="office-of-the-controller-of-examination.html">Office of The Controller of Exam</a></li>
                                        <li><a href="office-of-college-inspector.html">Office of The College Inspector</a></li>
                                        <li><a href="planning-and-development.html">Planning and Development</a></li>
                                        <li><a href="finance-and-accounts.html">Finance and Accounts</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-droupdown"><a href="#">Academic</a>
                            <ul class="submenu">
                                <li class="has-droupdown"><a href="#">Faculty</a>
                                    <ul class="submenu">
                                        <li><a href="faculty-of-medicine.html">Faculty of Medicine</a></li>
                                        <li><a href="faculty-of-basic-science-and-para-clinical-science.html">Faculty of Basic Science and para clinical Science</a></li>
                                        <li><a href="#">Faculty of Nursing</a></li>
                                    </ul>
                                </li>
                                <li class="has-droupdown"><a href="#">Courses</a>
                                    <ul class="submenu">
                                        <li><a href="#">MBBS</a></li>
                                        <li><a href="#">BDS</a></li>
                                        <li><a href="#">Nursing</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Academic Calendar</a></li>
                            </ul>
                        </li>

                        <li class="has-droupdown"><a href="#">Affiliated Institutions</a>
                            <ul class="submenu">
                                <li><a href="affiliated-institutions-government.html">Medical Colleges</a></li>
                                <li><a href="affiliated-institutions-non-government.html">Nursing Colleges</a></li>
                            </ul>
                        </li>

                        <li><a href="notice.html">Notice</a></li>
                        <li><a href="tender.html">Tender</a></li>
                        <li><a href="form.html">Forms</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                </div>
            </div>
            <!-- Start Search Popup  -->
            <div class="edu-search-popup">
                <div class="content-wrap">
                    <div class="site-logo">
                        <img class="logo-light" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                        <img class="logo-dark" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                    </div>
                    <div class="close-button">
                        <button class="close-trigger"><i class="icon-73"></i></button>
                    </div>
                    <div class="inner">
                        <form class="search-form" action="#">
                            <input type="text" class="SHMU-search-popup-field" placeholder="Search Here...">
                            <button class="submit-button"><i class="icon-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Search Popup  -->
        </header>
        <!--=====================================-->
        <div class="edu-breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Event</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item">Notice</li>
                    </ul>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1">
                    <span></span>
                </li>
                <li class="shape-2 scene"><img data-depth="2" src="assets/images/about/shape-13.png" alt="shape"></li>
                <li class="shape-3 scene"><img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape"></li>
                <li class="shape-4">
                    <span></span>
                </li>
                <li class="shape-5 scene"><img data-depth="2" src="assets/images/about/shape-07.png" alt="shape"></li>
            </ul>
        </div>
        <!-- Start Event Area  -->
        <div class="edu-event-area event-area-1 gap-large-text">
            <div class="container SHMU-animated-shape">
                <div class="row g-5">
                    <!-- Start Event Grid  -->
                    <div class="col-lg-6 col-md-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="event1.html">
                                        <img src="assets/images/event/rsz_1rsz_260220231-1.jpg" alt="Blog Images">
                                    </a>
                                    <div class="event-time">
                                        <span><i class="icon-33"></i>08:00AM-10:00PM</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">30</span>
                                        <span class="month">SEP</span>
                                    </div>
                                    <h5 class="title"><a href="event1.html">
                                        মহান স্বাধীনতা দিবসে স্মৃতিসৌধে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় এবং বিশ্ববিদ্যালয়ের কর্মকর্তা ও কর্মচারীগন</a></h5>
                                    <p>Lorem ipsum dolor sit amet consectur elit sed eiusmod ex tempor incididunt labore dolore magna.</p>
                                    <ul class="event-meta">
                                        <li><i class="icon-40"></i>Khulna, Bangladesh</li>
                                    </ul>
                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small btn-secondary" href="event1.html">Learn More <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid  -->
                    <!-- Start Event Grid  -->
                    <div class="col-lg-6 col-md-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="event-details.html">
                                        <img src="assets/images/event/event-02.jpg" alt="Blog Images">
                                    </a>
                                    <div class="event-time">
                                        <span><i class="icon-33"></i>04:00PM-07:00PM</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">25</span>
                                        <span class="month">DEC</span>
                                    </div>
                                    <h5 class="title"><a href="event-details.html">জাতির পিতা বঙ্গবন্ধু শেখ মুজিবুর রহমান এঁর ১০৩ তম জন্মদিবস উপলক্ষে বঙ্গবন্ধুর প্রতিকৃতিতে পুষ্পস্তবক প্রদান করে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় ও শেহামেবি কর্মকর্তাবৃন্দ</a></h5>
                                    <p>Lorem ipsum dolor sit amet consectur elit sed eiusmod ex tempor incididunt labore dolore magna.</p>
                                    <ul class="event-meta">
                                        <li><i class="icon-40"></i>Khulna, Bangladesh</li>
                                    </ul>
                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small btn-secondary" href="event-details.html">Learn More <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid  -->
                    <!-- Start Event Grid  -->
                    <div class="col-lg-6 col-md-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="event-details.html">
                                        <img src="assets/images/event/rsz_1rsz_260220231-1.jpg" alt="Blog Images">
                                    </a>
                                    <div class="event-time">
                                        <span><i class="icon-33"></i>08:00AM-10:00PM</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">30</span>
                                        <span class="month">SEP</span>
                                    </div>
                                    <h5 class="title"><a href="মহান স্বাধীনতা দিবসে স্মৃতিসৌধে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় এবং বিশ্ববিদ্যালয়ের কর্মকর্তা ও কর্মচারীগন.html">
                                        মহান স্বাধীনতা দিবসে স্মৃতিসৌধে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় এবং বিশ্ববিদ্যালয়ের কর্মকর্তা ও কর্মচারীগন</a></h5>
                                    <p>Lorem ipsum dolor sit amet consectur elit sed eiusmod ex tempor incididunt labore dolore magna.</p>
                                    <ul class="event-meta">
                                        <li><i class="icon-40"></i>Khulna, Bangladesh</li>
                                    </ul>
                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small btn-secondary" href="মহান স্বাধীনতা দিবসে স্মৃতিসৌধে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় এবং বিশ্ববিদ্যালয়ের কর্মকর্তা ও কর্মচারীগন.html">Learn More <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid  -->
                    <!-- Start Event Grid  -->
                    <div class="col-lg-6 col-md-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="event-details.html">
                                        <img src="assets/images/event/event-02.jpg" alt="Blog Images">
                                    </a>
                                    <div class="event-time">
                                        <span><i class="icon-33"></i>04:00PM-07:00PM</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">25</span>
                                        <span class="month">DEC</span>
                                    </div>
                                    <h5 class="title"><a href="event-details.html">জাতির পিতা বঙ্গবন্ধু শেখ মুজিবুর রহমান এঁর ১০৩ তম জন্মদিবস উপলক্ষে বঙ্গবন্ধুর প্রতিকৃতিতে পুষ্পস্তবক প্রদান করে শ্রদ্ধা নিবেদন করেন উপাচার্য মহোদয় ও শেহামেবি কর্মকর্তাবৃন্দ</a></h5>
                                    <p>Lorem ipsum dolor sit amet consectur elit sed eiusmod ex tempor incididunt labore dolore magna.</p>
                                    <ul class="event-meta">
                                        <li><i class="icon-40"></i>Khulna, Bangladesh</li>
                                    </ul>
                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small btn-secondary" href="event-details.html">Learn More <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid  -->
                </div>
                <div class="event-view-all-btn" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1200">
                    <h6 class="view-text">The Latest Events from SHMU. <a href="event-grid.html" class="btn-transparent">View All <i class="icon-4"></i></a></h6>
                </div>

                <ul class="shape-group">
                    <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                        <img class="rotateit" src="assets/images/about/shape-13.png" alt="Shape">
                    </li>
                    <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                        <span data-depth=".9"></span>
                    </li>
                </ul>
            </div>
        </div>

        <!--=====================================-->
        <!-- Start Footer Area  -->
        <footer class="edu-footer footer-dark bg-image footer-style-3">
            <div class="footer-top">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <div class="edu-footer-widget">
                                <div class="logo">
                                    <a href="index.html">
                                        <img class="logo-light" src="assets/images/logo/Website-Final-1-2.png" alt="Corporate Logo">
                                    </a>
                                </div>
                                <div class="widget-information">
                                    <ul class="information-list">
                                        <li><span>Add:</span>Holding no: 8, Road no: 1 Nirala Residential area Khulna-9100, Bangladesh.

                                        </li>
                                        <li><span>Call:</span><a href="tel:+011235641231">+01 123 5641 231</a></li>
                                        <li><span>Email:</span><a href="mailto:info@SHMU.com" target="_blank">info@SHMU.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="edu-footer-widget explore-widget">
                                <h4 class="widget-title">Quick Link</h4>
                                <div class="inner">
                                    <ul class="footer-link link-hover">
                                        <li><a href="history.html">About</a></li>
                                        <li><a href="course-one.html">Courses</a></li>
                                        <li><a href="team-one.html">Instructor</a></li>
                                        <li><a href="event-grid.html">Events</a></li>
                                        <li><a href="team-details.html">Instructor Profile</a></li>
                                        <li><a href="purchase-guide.html">Purchase Guide</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="edu-footer-widget quick-link-widget">
                                <h4 class="widget-title">Links</h4>
                                <div class="inner">
                                    <ul class="footer-link link-hover">
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="gallery-grid.html">Gallery</a></li>
                                        <li><a href="blog-standard.html">News & Articles</a></li>
                                        <li><a href="faq.html">FAQ's</a></li>
                                        <li><a href="my-account.html">Sign In/Registration</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="edu-footer-widget">
                                <h4 class="widget-title">Contacts</h4>
                                <div class="inner">
                                    <p class="description">Enter your email address to register to our newsletter subscription</p>
                                    <div class="input-group footer-subscription-form">
                                        <input type="email" class="form-control" placeholder="Your email">
                                        <button class="edu-btn btn-secondary btn-medium" type="button">Subscribe <i class="icon-4"></i></button>
                                    </div>
                                    <ul class="social-share icon-transparent">
                                        <li><a href="#" class="color-fb"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="color-linkd"><i class="icon-linkedin2"></i></a></li>
                                        <li><a href="#" class="color-ig"><i class="icon-instagram"></i></a></li>
                                        <li><a href="#" class="color-twitter"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#" class="color-yt"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <p>&copy; 2023 <a href="https://1.envato.market/5bQ022" target="_blank">SHMU</a> Designed By <a href="https://1.envato.market/YgGJbj" target="_blank">Unicorn</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area  -->



    </div>

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
	============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/sal.min.js"></script>
    <script src="assets/js/vendor/backtotop.min.js"></script>
    <script src="assets/js/vendor/magnifypopup.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/isotop.min.js"></script>
    <script src="assets/js/vendor/imageloaded.min.js"></script>
    <script src="assets/js/vendor/lightbox.min.js"></script>
    <script src="assets/js/vendor/paralax.min.js"></script>
    <script src="assets/js/vendor/paralax-scroll.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script src="assets/js/vendor/swiper-bundle.min.js"></script>
    <script src="assets/js/vendor/svg-inject.min.js"></script>
    <script src="assets/js/vendor/vivus.min.js"></script>
    <script src="assets/js/vendor/tipped.min.js"></script>
    <script src="assets/js/vendor/smooth-scroll.min.js"></script>
    <script src="assets/js/vendor/isInViewport.jquery.min.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>